
body {
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	color: #000000;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	min-height: 1200px;

}
.intro {
	width: 1200px;
	height: 780px;
	top: -60px;
	/*position: relative;*/
	background-image: url("../img/intro.jpg");
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;

}
a {
	text-decoration: none;
}

}
.reasons-title h1{
	font-size: 21px;
	color: #000000;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}
.main-navigation a ,
.main-footer a {
	color: #000000;
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation a:focus {
	color: #b2b2b2;
}
.link-html-academy {
	fill: red;
}
.link-html-academy:hover path {
 	fill: #81b3d2;
}
.link-html-academy:focus path {
	fill: #b2b2b2;
}

.site-navigation,
.recommendations-list,
.advantage-gray,
.sorting,
.search-result-hotel {
	list-style: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.header-center,
.main-center,
.footer-center {
	width: 1200px;
	margin: 0 auto;
}
.main-advantage {
	text-align: center;
}
.advantage-blue {
	background-color: #81b3d2;
}
.advantage-number-white,
.advantage-text-white {
	color: #ffffff;
}
h2.advantage-title-white {
	font-size: 21px;
	color: #ffffff;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
}
.btn-search {
	width: 568px;
	height: 86px;

	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #766357;
	background-repeat: repeat;

	border: none;
}
.advantage-gray {
	background-color: #eeeeee;
}
.search-hotel {
	margin: 0 auto;
	width: 592px;
	height: 419px;
}
.social-button {
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}
.filter-infrastructure {
	margin: 0 auto;
	width: 1200px;
	height: 220px;
	background-image: url("../img/filter-background.jpg");
	color: #ffffff
}
.search-hotel input[type="submit"] {
	width: 458px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}
.site-navigation .current {
	color:#766357;
}
.search-result-hotel li {
	border: 1px solid #e5e5e5;
}
.back-color-hotels {
	background-color: #fefefe;
}
.hotel-read-more {
	width: 110px;
	height: 27px;
	color: white;
	background-color: #81b3d2;
}
.hotel-read-more:hover {
	background-color: #669ec0;
}
.hotel-read-more:focus {
	color: #88b6d1;
	background-color: #5496bd;
}
.hotel-book-it {
	width: 142px;
	height: 27px;
	color: white;
	background-color: #766357;
}
.hotel-book-it:hover {
	background-color: #604e43;
}
.hotel-book-it:focus {
	color: #857871;
	background-color: #503e33;
}
.hotel-title a {
	font-size: 21px;
	color: #000000;
}
.hotel-title a:hover{
	color: #81b3d2;
}
.hotel-title a:focus{
	color: #b2b2b2;
}
.hotel-price {
	color: #81b3d2;
}
.hotel-type,
.hotel-rating-search {
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}
.hotel-type:hover,
.hotel-rating-search:hover {
	color: #81b3d2;
}
.hotel-type:focus,
.hotel-rating-search:focus {
	color: #000000;
	border: none;
}
.star {
	width: 18px;
	height: 17px;
	display: block;
	background-image: url("../img/star.svg");
}
.hotel-rating {
	width: 110px;
	height:27px;
	color: #666666;
	background-color: #f2f2f2;
}
.btn-filter {
	width: 137px;
	height: 36px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	text-transform: uppercase;
}
.search-date-check-in ,
.search-date-check-out {
	background-color: #f2f2f2;
	width: 346px;
	height: 38px;
}
.search-date-check-in:hover,
.search-date-check-out:hover {
	background-color: #ebebeb;
	text-decoration: none;
}
.search-date-check-in:focus,
.search-date-check-out:focus {
	background-color: #ffffff;
}
 /*.....КАЛЕНДАРЬ НЕ ПОНЯТНО КАК ВСТАВИТЬ....
.open-calendar {
	position: absolute;
	z-index: 2;
	background-image: url("../img/calendar.svg");
	width: 25px;
	height:25px;
}
.search-date-check-in {
	position: relative;
	padding-left: 20px;
}
.to-find{
	width: 458px;
	height: 58px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	background-color: #81b3d2;*/
}
.to-find:hover {
	background-color: #669ec0;
}
.to-find:focus {
	outline: none;
	color: #7aadcb;
	background-color: #5496bd;	
}
.search-hotel-wrapper {
	position: relative;
}
.search-hotel {
	position: absolute;
	background-color: #ffffff;
	/*font-size: 0;
	line-height: 0;*/
	left: 316px;
	right: auto;
	top: -601px;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px;
	width: 458px;
	height: 288px;
}


/*----------сеточные стили-------*/
.main-navigation ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	min-height: 56px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-navigation li {
	width: 20%;
	margin: 0;
	padding: 0;
}

.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.info-menu:first-child {
	text-align: left;
	margin-left: 6%;
}
.info-photo:nth-child(2) {
	text-align: left;
	margin-right: 4%;
}
.info-map:nth-child(3) {
	text-align: right;
	margin-left: 4%;
}
.info-hotels:last-child {
	text-align: right;
	margin-right: 6%;
}

.reasons-sedona {
	position: absolute;
	top: 660px;
	right: 480px;
}
.advantage-blue {
	width: 400px;
	height: 256px;
	padding-top: 50px;
}
.advantage-2 {
	flex-direction: row-reverse;
}
.advantage-1,
.advantage-2 {
	display: flex;
}
}
.recommendations {
	width: 1200px;
	min-height: 330px;
}
.recommendations-list {
	display: flex;
	justify-content: space-between;	
	margin-left: 6%;
	margin-right: 6%;
}
.recommendations-item {
	padding-top: 60px;
}
.advantage-gray {
	width: auto;
	min-height: 257px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.advantage-item {
	margin: 0 auto;
	padding-top: 43px;	
}
.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	opacity: 0.902;
}
.filter-infrastructure {
	outline: 2px solid black;
	display: flex;
	justify-content: space-between;
}
.hotel-sort-list {
	display: flex;
	justify-content: space-around;
}
.search-result-hotel {
	display: flex;
	outline: 2px solid red;
	flex-direction: column;
}