
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "PT Sans",sans-serif;
	color: #000000;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	min-height: 1200px;
	background-color: #f2f2f2;
}
.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
	background-color: #ffffff;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
    box-shadow: 0px 5px 15px 0px rgba(00, 01, 01, 0.2); 
	box-sizing: border-box;
}
.intro {
	width: 100%;
	height: 515px;
	background-image: url("../img/intro.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #5e88b6;
}
a {
	text-decoration: none;
}
.reasons-title {
	font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    width: 574px;
    left: 50%;
    position: relative;
    margin-left: -287px;
    margin-bottom: 28px;
}
.seach-title {
	margin: 0;
	line-height: 
	font-size: 27px;
	font-weight: bold;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}
.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 1200px;
	min-height: 56px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-navigation a ,
.main-footer a {
	color: #000000;
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation a:focus {
	color: #b2b2b2;
}
.link-html-academy {
	fill: #231f20;
}
.link-html-academy:hover path {
 	fill: #81b3d2;
}
.link-html-academy:focus path {
	fill: #b2b2b2;
}

.site-navigation,
.recommendations-list,
.advantage-gray,
.sorting,
.search-result-hotel {
	list-style: none;
}
.recommendations {
	width: 1200px;
	min-height: 330px;
	background-color: #ffffff;
}
.recommendations-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	/*margin-left: 72px;
	margin-right: 72px;*/
	align-items: center;
	margin: 0;
	padding: 0;
}
.recommendations-item {
	position: relative;
	padding-top: 144px;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.main-advantage {
	text-align: center;
}
.advantage-blue {
	background-color: #81b3d2;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-width: 400px;
	box-sizing: border-box;
}
.advantage-image-left{
	line-height: 0;
	overflow: hidden;
	width: 800px;
	height: auto;
}
.advantage-image-right {
	line-height: 0;
}
.advantage-number-white,
.advantage-text-white {
	color: #ffffff;
}
.advantage-text-white {
	width: 320px;
	margin: 0;
	padding-bottom: 43px;
}
.advantage-title-white {
	width: 121px;
	font-size: 21px;
	color: #ffffff;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 40px;
}
.devils-bridge {
	width: 172px;
}
.bridge-description {
	width: 333px;
}
.btn-search {
	width: 568px;
	height: 86px;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #766357;
	background-repeat: repeat;
	border: none;
	margin-top: 42px;
}
.btn-search:hover {
	background-color: #604e43;
}
.btn-search:focus {
	background-color: #503e33;
	color: #857871;
}
.advantage-gray {
	background-color: #eeeeee;
	width: auto;
	min-height: 257px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0;
}
.social-button {
	display: inline-block;
	position: relative;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}
.social-button:hover {
	background-color: #669ec0;
}
.social-button:focus {
	background-color: #5496bd;
}
.social-twitter {
	vertical-align: top;
	fill: #ffffff;
	position: absolute;
	top: 13px;
	left: 12px;
}
.social-twitter:focus,
.social-facebook:focus,
.social-youtube:focus {
	fill: #88b6d1;
}
.social-facebook {
	position: absolute;
	fill: #ffffff;
	top: 12px;
	left: 16px;
}
.social-youtube {
	top: 13px;
	left: 14px;
	position: absolute;
	fill: #ffffff;
}
.social {
	padding-left: 16px;
	padding-left: -7px;
}
.hashtag {
	font-size: 21px;
	line-height: 26;
	font-weight: bold;
	color: #000000;
}
.visit {
	padding-left: 17px;
}
.html-academy-image {
	display: flex;
    margin-bottom: -2px;
    margin-right: -14px;
    align-items: center;
}
.filter-infrastructure {
	margin: 0 auto;
	width: 1200px;
	height: 220px;
	background-image: url("../img/filter-background.jpg");
	color: #ffffff
}
.search-hotel input[type="submit"] {
	width: 458px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}
.site-navigation .current {
	color:#766357;
}
.hotel-read-more {
	width: 110px;
	height: 27px;
	color: white;
	background-color: #81b3d2;
}
.hotel-read-more:hover {
	background-color: #669ec0;
}
.hotel-read-more:focus {
	color: #88b6d1;
	background-color: #5496bd;
}
.hotel-book-it {
	width: 142px;
	height: 27px;
	color: white;
	background-color: #766357;
}
.hotel-book-it:hover {
	background-color: #604e43;
}
.hotel-book-it:focus {
	color: #857871;
	background-color: #503e33;
}
.hotel-title a {
	font-size: 21px;
	color: #000000;
}
.hotel-title a:hover{
	color: #81b3d2;
}
.hotel-title a:focus{
	color: #b2b2b2;
}
.hotel-price {
	color: #81b3d2;
}
.hotel-type,
.hotel-rating-search {
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}
.hotel-type:hover,
.hotel-rating-search:hover {
	color: #81b3d2;
}
.hotel-type:focus,
.hotel-rating-search:focus {
	color: #000000;
	border: none;
}
.star {
	width: 18px;
	height: 17px;
	display: block;
	background-image: url("../img/star.svg");
}
.hotel-rating {
	width: 110px;
	height:27px;
	color: #666666;
	background-color: #f2f2f2;
}
.btn-filter {
	width: 137px;
	height: 36px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	text-transform: uppercase;
}
.search-date-check-in ,
.search-date-check-out,
.search-adult-form,
.search-child-form  {
	background-color: #f2f2f2;
	width: 345px;
	height: 38px;
	border: 0;
	outline: 0;
	padding: 0;
}
.search-date-check-in:hover,
.search-date-check-out:hover,
.search-adult-form:hover,
.search-child-form:hover  {
	background-color: #ebebeb;
	text-decoration: none;
}
.search-date-check-in:focus,
.search-date-check-out:focus,
.search-adult-form:focus,
.search-child-form:focus  {
	background-color: #ffffff;
}
.to-find {
	width: 458px;
	height: 58px;
	color: #ffffff;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 54px;
}
.to-find:hover {
	background-color: #669ec0;
}
.to-find:focus {
	outline: none;
	color: #7aadcb;
	background-color: #5496bd;	
}
.search-hotel-wrapper {
	position: relative;
}
.search-hotel {
	position: absolute;
	background-color: #ffffff;
	left: 316px;
	right: auto;
	top: -601px;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px;
	width: 458px;
	height: 288px;
}
.seach-form-row-check-in,
.seach-form-row-check-out {
	position: relative;
}

.search-date-check-in,
.search-date-check-out,
.search-child-form,
.search-adult-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold; 
}
.open-calendar {
    border: 0;
    outline: none;
    background-color: transparent;
    top: 6px;
    position: relative;
    left: -36px;
    margin: 0;
    padding: 0;
    fill: #cacaca;
}
.open-calendar:hover {
	fill: #000000;
}
.open-calendar:focus {
	fill: #81b3d2;
}
.search-hotel {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 14px;
	line-height: 26px;
	font-weight: bold;
	width: 569px;
	height: 395px;
	padding-top: 55px;
	padding-bottom: 55px;
}
.site-navigation-item {
	width: 240px;
	margin: 0;
	padding: 0;
}
.main-header-logo {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 138px;
   height: 70px;
}
.info-menu:first-child {
	text-align: left;
	margin-left: 72px;
}
.info-photo:nth-child(2) {
	text-align: left;
	margin-right: 48px;
}
.info-map:nth-child(3) {
	text-align: right;
	margin-left: 48px;
}
.info-hotels:last-child {
	text-align: right;
	margin-right: 72px;
}
.reasons-sedona {
	width: 1200px;
	height: 208px;
	text-align: center;
	padding-top: 37px;
	box-sizing: border-box;
} 
.advantage-1,
.advantage-2 {
	display: flex;
	flex-wrap: wrap;
}
.recommendation-motel {
	width: 348px;
}
.motel-item {
	padding-left: 28px;
}
.motel::before {
	position: absolute;
	content: "";
	width: 75px;
	height: 72px;
	left: 163px;
	top: 62px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.food-item {
	padding-left: 9px;
}
.recommendation-food {
	width: 336px;
}
.food::before {
	position: absolute;
	content: "";
	width: 74px;
	height: 70px;
	top: 63px;
	left: 135px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.souvenir-item {
	padding-top: 144px;
}
.recommendation-souvenir {
	width: 382px;
}
.souvenir::before {
	position: absolute;
	content: "";
	width: 64px;
	height: 76px;
	top: 59px;
	left: 151px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.advantage-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	box-sizing: border-box;
	padding-top: 46px;
	padding-bottom: 64px;
	width: 400px;
	min-height: 256px;	
}
.advantage-title-space {
	margin: 0;
	width: 153px;
}
.advantage-title-route {
	margin: 0;
	width: 117px;
}
.advantage-title-tourist {
	margin: 0;
	width: 108px;
}
.advantage {
	margin-top: -15px;
}
.advantage-text-space {
	margin: 0;
	width: 247px;
}
.advantage-text-route {
	margin: 0;
	width: 312px;
}
.advantage-text-tourist {
	margin: 0;
	width: 303px;
}
.main-footer {
	width: 1200px;
	height: 122px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    background-color: #fefefe;
    opacity: 0.8;
    margin-top: -129px;
}
.footer-second-page {
	width: 1200px;
	height: 122px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    background-color: #fefefe;
}
.map-interactive {
	z-index: -3;
}
.filter-infrastructure {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search {
	margin-top: -15px;
	min-height: 235px;
	padding-top: 57px;
}
.adults {
	margin-left: 24px;
}
.adult-form {
	padding-right: 29px;
}
.children {
	margin-right: 31px;
	order: -1;
}
.child-form {
	padding-right: 25px;
}
.adults-children {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;
	flex-direction: row-reverse;
}
.search-adult-form,
.search-child-form {
	width: 38px;
	height: 38px;
	text-align: center;
}
.seach-form-row-check-in {
	margin-bottom: 29px;
}
.checkbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}
.checkbox-infrastructure,
.checkbox-type {
	display: flex;
	flex-wrap: wrap;
}
.control-decrement ,
.control-increment {
	padding: 0;
	width: 38px;
	height: 38px;
	border: 0;
	outline: none;
	margin: 0 -4px;
	background-color: #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #a9a9a9;
}
.control-decrement:hover ,
.control-increment:hover {
	color: #000000;
}
.control-decrement:focus ,
.control-increment:focus {
	color: #81b3d2;
}
.date-check-in {
	padding-left: 32px;
}
.date-check-out {
	padding-left: 28px;
}
.search-date-check-out {
	box-sizing: border-box;
	padding-left: 11px;
}
.search-date-check-in {
	margin-right: 3px;
	padding-left: 12px;
	box-sizing: border-box;
}
.hotel-sort-list  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.search-hotel-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 73px;
	padding-left: 73px;
	height: 90px;
}
.search-result-hotel {
	padding: 0;
	margin: 0;
}
/*.hotel-content {
	margin-right: 600px;
	margin-bottom: 30px;
}*/
.hotel-read {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.hotel-rating {
	margin-top: 47px;
	margin-right: -80px;
}
.hotel-image {
	margin-right: 30px;
}

